{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sign in - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/demo.min.css' %}" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body  class=" d-flex flex-column">
    <script src="{% static 'js/demo-theme.min.js' %}"></script>
    <script type="text/javascript">
      const showPassword = () => {
        document.getElementById("password").setAttribute("type", "text")
      }
      const dismissPassword = () => {
        document.getElementById("password").setAttribute("type", "password")
      }
    </script>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark"><img src="{% static 'svg/logo.svg' %}" height="36" alt=""></a>
        </div>
        <div class="card card-md">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">登录到您的账户</h2>
            <form method="post" autocomplete="off" novalidate>
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label">用户名</label>
<!--                <input type="email" class="form-control" placeholder="您的用户名" autocomplete="off">-->
                {{ form.name }}
              </div>
              <div class="mb-2">
                <label class="form-label">
                  密码
                  <span class="form-label-description">
                  </span>
                </label>
                <div class="input-group input-group-flat">
<!--                  <input type="password" class="form-control"  placeholder="您的密码" autocomplete="off" id="password">-->
                  {{ form.password }}
                  <span class="input-group-text">
                    <a onclick="showPassword()" onmouseleave="dismissPassword()" class="link-secondary" title="点击查看密码" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                    </a>
                  </span>
                </div>
              </div>
              <div class="mb-2">
                <label class="form-check">
                  <input type="checkbox" class="form-check-input" name="remember_me"/>
                  <span class="form-check-label">记住我，下一次无需登录</span>
                </label>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">登录</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="{% static 'js/tabler.min.js' %}" defer></script>
    <script src="{% static 'js/demo.min.js' %}" defer></script>
  </body>
</html>